*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


.inp{
background-color: transparent !important;

}


span{
    background-color: transparent !important;



}

.oc{
width: 10%;
border: 2px solid gray;
border-radius: 20px;
background-image: url('./pngtree-color-abstract-gradient-blurred-halo-background-image_120001.jpg');
background-position: center;
color: white;
background-repeat: no-repeat;
background-size: cover;
}


.cur{
cursor: pointer;

}

.rowww{
display: flex;
flex-direction: row;
justify-content: space-between;
}


.time span{ 
font-size: 40px;


}